body{
    font: normal 15pt Arial;
    background-color: rgb(126, 126, 214);
}
header{
    color: white;
    text-align: center;
}
section{
    background-color: white;
    width: 500px;
    height: 210px;
    text-align: center;
    margin: auto;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.473) 5px 5px 10px;
}
div#txt{
    padding-bottom: 10px;
    padding-top: 10px;
}
#img{
    border-radius: 50%;
    height: 150px;
    width: 150px;
}
footer{
    text-align: center;
    color: white;
    padding-top: 10px;
    font-style: italic;
}