body{
    background-color: rgb(59, 59, 117);
    font: normal 15pt Arial;
}
header{
    color: white;
    text-align: center;
}
section{
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.527) 5px 5px 10px;

}
footer{
    text-align: center;
    color: white;
    font-style: italic;
    padding: 10px;
}

#foto{
    border-radius: 50%;
    height: 250px;
    width: 250px;
    padding-top: 8px;
}
div{
    
    padding: 5px;
}